body{
   color:white;
   background-color:#2e404c;
   font-family:'Courgette', cursive;
}

@media (min-device-width: 1224px) {
   .title{
      text-align:center;
      padding-top:60px;
      font-size:40px;
   }
   .sign-but-layout{
      margin-top:200px;
      text-align:center;
   }
   .sign-in-button{
      width:100px;
      height:40px;
      color:white;
      font-size:20px;
      border: none;
      border: 1px solid white;
      border-radius:3px;
      background-color:transparent;
   }
   .widget-layout{
      display:flex;
      justify-content:space-around;
      flex-wrap:wrap;
      margin: 0px 200px 0px 200px;
   }
   .widget{
      width:200px;
      height:200px;
      margin-top:50px;
   }
   .widgetTeal{
      background-color:#32AFC5;
   }
   .widgetTeal:hover {
      cursor:pointer;
      background-color: #2990a0;
   }
   .widgetTeal:active {
      transform: translateY(4px);
   }
   .widgetGreen{
      background-color:#AFCC12;
   }
   .widgetGreen:hover {
      cursor:pointer;
      background-color: #8ea50d;
   }
   .widgetGreen:active {
      transform: translateY(4px);
   }
   .widgetPurple{
      background-color:#9966E9;
   }
   .widgetPurple:hover {
      cursor:pointer;
      background-color: #7f58c4;
   }
   .widgetPurple:active {
      transform: translateY(4px);
   }
   .widgetYellow{
      background-color:#E9B11C;
   }
   .widgetYellow:hover {
      cursor:pointer;
      background-color: #bc8e18;
   }
   .widgetYellow:active {
      transform: translateY(4px);
   }
   .widgetGrey{
      background-color:#595758;
   }
   .widgetGrey:hover {
      cursor:pointer;
      background-color: #494949;
   }
   .widgetGrey:active {
      transform: translateY(4px);
   }
   .widgetBlue{
      background-color:#0E77B5;
   }
   .widgetBlue:hover {
      cursor:pointer;
      background-color: #0c6396;
   }
   .widgetBlue:active {
      transform: translateY(4px);
   }
   .deviceImg{
      text-align:center;
      margin-top:30px;
   }
   .deviceImgSize{
      width:120px;
      height:120px;
   }
   .subheader{
      font-size:20px;
      margin-top:10px;
   }
   .subheader-long{
      font-size:20px;
      margin-top:10px;
   }
}

@media (max-device-width: 1224px) {
   .title{
      text-align:center;
      padding-top:20px;
      font-size:100px;
   }
   .sign-but-layout{
      margin-top:400px;
      text-align:center;
   }
   .sign-in-button{
      width:300px;
      height:100px;
      color:white;
      font-size:48px;
      border:none;
      border: 1px solid white;
      border-radius:3px;
      background-color:transparent;
   }
   .widget-layout{
      display:flex;
      justify-content:space-around;
      flex-wrap:wrap;
   }
   .widget{
      width:470px;
      height:470px;
      margin-top:30px;
   }
   .widgetTeal{
      background-color:#32AFC5;
   }
   .widgetTeal:active {
      transform: translateY(6px);
   }
   .widgetGreen{
      background-color:#AFCC12;
   }
   .widgetGreen:active {
      transform: translateY(4px);
   }
   .widgetPurple{
      background-color:#9966E9;
   }
   .widgetPurple:active {
      transform: translateY(4px);
   }
   .widgetYellow{
      background-color:#E9B11C;
   }
   .widgetYellow:active {
      transform: translateY(4px);
   }
   .widgetGrey{
      background-color:#595758;
   }
   .widgetGrey:active {
      transform: translateY(4px);
   }
   .widgetBlue{
      background-color:#0E77B5;
   }
   .widgetBlue:active {
      transform: translateY(4px);
   }
   .deviceImg{
      text-align:center;
      margin-top:40px;
   }
   .deviceImgSize{
      width:280px;
      height:280px;
   }
   .subheader{
      font-size:60px;
      margin-top:60px;
   }
   .subheader-long{
      font-size:60px;
   }
}
